[class^="icon-"], [class*=" icon-"] {
  font-family: "FontAwesome";
  line-height: 1;
  
  /* Add 1px margin-top to center the icon */
  display: block;
  margin-top: 1px;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before     { content: "\f099"; }
.icon-facebook:before    { content: "\f09a"; }
.icon-github:before      { content: "\f113"; }
.icon-pinterest:before   { content: "\f231"; }
.icon-google-plus:before { content: "\f0d5"; }
.icon-linkedin:before    { content: "\f0e1"; }
.icon-youtube:before     { content: "\f167"; }
.icon-instagram:before   { content: "\f16d"; }
.icon-dribbble:before    { content: "\f17d"; }
.icon-behance:before     { content: "\f1b4"; }
.icon-vine:before        { content: "\f1ca"; }
.icon-soundcloud:before  { content: "\f606"; }
.icon-vine:before        { content: "\f60a"; }
.icon-codepen:before     { content: "\f1cb"; }