---
title: Random Quote Generator
---

![Click Quote Generator](assets/img/projects/proj-2/img.jpg)


<a href="http://s.codepen.io/omgninjas/debug/Majvvm" target="_blank">View In Browser</a>

Part of FreeCodeCamp FontEnd projects.

**Objective:** Build a CodePen.io app that is functionally similar to [this](https://codepen.io/FreeCodeCamp/full/ONjoLe/).

**Rule #1:** Don't look at the example project's code. Figure it out for yourself.

**Rule #2:** Fulfill the below user stories. Use whichever libraries or APIs you need. Give it your own personal style.

[comment]: <> (User Story: I can press a button to tweet out a quote.)

**Pending Feature:** Click to tweet quote.

