footer
  @extend %background-image
  background:
    image: url(../img/#{$logo-path}), url(../img/#{$hero-path})
  .lockup
    padding: 50px 30px
    +clearfix
    
    .content-wrap
      float: left
      margin-left: 80px
      
      .copyright
        margin: 0
        text-transform: uppercase
        font-size: 12px
        color: $indo
        font-weight: bold
        padding: 0px 2px
      
      a
        @extend %small-bold
        color: $indo
        display: inline-block
        margin-right: 30px
        font-size: 0.9em
        letter-spacing: 0.07em
        padding: 0px 2px
        text-shadow: lighten($bgcolor, 10%) 6px 2px 26px
        &:hover
          color: $monarch
          text-shadow: darken($bgcolor, 10%) 6px 2px 26px

