<section class="section-children">

  <h3 id="children">children</h3>

  <div class="children-mobile-nav">
    {% for child in site.data.settings.children %}
      {% if forloop.first %}
        <span class="active-child"></span>
      {% else %}
        <span></span>
      {% endif %}
    {% endfor %}
  </div>

  <div class="children-belt">
    {% for child in site.data.settings.children %}
      <div class="child-unit {% if forloop.first %}active-child{% endif %}">

        <figure class="child-face">
          <img src="assets/img/children/{{ child.avatar }}" alt="child-face">
          <figcaption>
            <strong class="child-name">{{ child.name }}</strong>
            <em class="child-title">{{ child.title }}</em>
          </figcaption>
        </figure>

        <div class="child-content">
          <div class="child-quote-mark">{% include icons/icon-quote-mark.html %}</div>
          {{ child.quote }}
        </div>
      </div>
    {% endfor %}
  
  </div>

  <div class="child-controls">
    <div class="child-control-next">{% include icons/icon-next.html %}</div>
    <div class="child-control-prev">{% include icons/icon-prev.html %}</div>
  </div>

  <div class="children-logos">
    {% for child in site.data.settings.children %}
      {% if forloop.first %}
        <img class="child-logo active-child" src="assets/img/children/{{ child.logo }}" align="{{ child.logo }}">
      {% else %}
        <img class="child-logo" src="assets/img/children/{{ child.logo }}" align="{{ child.logo }}">
      {% endif %}
    {% endfor %}
  </div>

</section>
